{% extends 'layouts/layout-dashboard.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<main id="main" class="main">

{#    <div class="card mb-4">#}
{#              <div class="card-widget-separator-wrapper">#}
{#                <div class="card-body card-widget-separator">#}
{#                  <div class="row gy-4 gy-sm-1">#}
{#                    <div class="col-sm-6 col-lg-3">#}
{#                      <div class="d-flex justify-content-between align-items-start card-widget-1 border-end pb-3 pb-sm-0">#}
{#                        <div>#}
{#                          <h3 class="mb-1">24</h3>#}
{#                          <p class="mb-0">Clients</p>#}
{#                        </div>#}
{#                        <span class="avatar me-sm-4">#}
{#                          <span class="avatar-initial bg-label-secondary rounded"><i class="ti ti-user ti-md"></i></span>#}
{#                        </span>#}
{#                      </div>#}
{#                      <hr class="d-none d-sm-block d-lg-none me-4">#}
{#                    </div>#}
{#                    <div class="col-sm-6 col-lg-3">#}
{#                      <div class="d-flex justify-content-between align-items-start card-widget-2 border-end pb-3 pb-sm-0">#}
{#                        <div>#}
{#                          <h3 class="mb-1">165</h3>#}
{#                          <p class="mb-0">Invoices</p>#}
{#                        </div>#}
{#                        <span class="avatar me-lg-4">#}
{#                          <span class="avatar-initial bg-label-secondary rounded"><i class="ti ti-file-invoice ti-md"></i></span>#}
{#                        </span>#}
{#                      </div>#}
{#                      <hr class="d-none d-sm-block d-lg-none">#}
{#                    </div>#}
{#                    <div class="col-sm-6 col-lg-3">#}
{#                      <div class="d-flex justify-content-between align-items-start border-end pb-3 pb-sm-0 card-widget-3">#}
{#                        <div>#}
{#                          <h3 class="mb-1">$2.46k</h3>#}
{#                          <p class="mb-0">Paid</p>#}
{#                        </div>#}
{#                        <span class="avatar me-sm-4">#}
{#                          <span class="avatar-initial bg-label-secondary rounded"><i class="ti ti-checks ti-md"></i></span>#}
{#                        </span>#}
{#                      </div>#}
{#                    </div>#}
{#                    <div class="col-sm-6 col-lg-3">#}
{#                      <div class="d-flex justify-content-between align-items-start">#}
{#                        <div>#}
{#                          <h3 class="mb-1">$876</h3>#}
{#                          <p class="mb-0">Unpaid</p>#}
{#                        </div>#}
{#                        <span class="avatar">#}
{#                          <span class="avatar-initial bg-label-secondary rounded"><i class="ti ti-circle-off ti-md"></i></span>#}
{#                        </span>#}
{#                      </div>#}
{#                    </div>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
    <!-- Routers List Table -->
    <div class="card">
      <div class="card-header border-bottom">
          <div class="d-flex align-items-center justify-content-between">
           <h5 class="card-title mb-3">Search Filter </h5>
            <a href="javascript:void(0);" id="add-user" class="add-new btn btn-primary waves-effect waves-light"> Add New Router </a>
        </div>  
        <div class="d-flex justify-content-between align-items-center row pb-2 gap-3 gap-md-0">
          <div class="col-md-4 user_role"></div>
          <div class="col-md-4 user_plan"></div>
          <div class="col-md-4 user_status"></div>
        </div>
      </div>
      <div class="card-datatable table-responsive">
        <table class="datatables-users table">
               <thead class="border-top">
                  <tr>
                    <th>Host</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Port</th>
                    <th>Station</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  {%for station in router_data.all_all_routers%}
                  <tr>
                    <td>{{station.host}}</td>
                    <td>{{station.username}}</td>
                    <td>{{station.password}}</td>
                    <td>{{station.port}}</td>
                    <td>{{station.station}}</td>
                    {%if station.status  %}
                      <td><span class="badge rounded-pill bg-success">Active</span></td>
                    {%else%}
                    <td><span class="badge rounded-pill bg-warning text-dark">Inactive</span></td>
                    {%endif%}
                  </tr>
                  {%endfor%}
            
                </tbody>
            
            
        </table>
      </div>
      <!-- Offcanvas to add new Router -->
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasAdd" aria-labelledby="offcanvasAddRouterLabel">
        <div class="offcanvas-header">
          <h5 id="offcanvasAddRouterLabel" class="offcanvas-title">Add Router</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body mx-0 flex-grow-0 pt-0 h-100">
          <form class="add-new-user pt-0" id="addNewRouterForm"  action="{%url 'routers'%}" method="post">
           {% csrf_token %}
            <div class="mb-3">
              <label class="form-label" for="add-name">Station Name</label>
              <input type="text" class="form-control" id="add-name" placeholder="Station Name" name="name" />
            </div>



              <div class="mb-3">
              <label class="form-label" for="add-location">Username</label>
              <input type="text" id="add-location" class="form-control" placeholder="Username" name="username" />
            </div>
              <div class="mb-3">
              <label class="form-label" for="add-location">Password</label>
              <input type="password" id="add-location" class="form-control" placeholder="Password" name="password" />
            </div>


            <div class="mb-3">
              <label class="form-label" for="status">Status</label>
              <select id="status" class="select2 form-select">
                <option value="">Select</option>
                <option value="1">Active</option>
                <option value="0">Inactive</option>

              </select>
            </div>

            <button type="submit" class="btn btn-primary me-sm-3 me-1 data-submit">Submit</button>
            <button type="reset" class="btn btn-label-secondary" data-bs-dismiss="offcanvas">Cancel</button>
          </form>
        </div>
      </div>
    </div>

</main><!-- End #main -->
{% endblock %}


          
          



